/* 	================= 
		MAIN.CSS
	================= */

/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

* {
	/*color: blue;*/
}

body {
	background-color: blue;
	/*outline: 1px solid rgb(0,0,255);*/
}

.mobile {
	display: none;
}

/* 	===========================
		TYPOGRAPHY
	=========================== */

h1,
h2 {
	color: white;
}

.title {
	width: 100%;
	text-align: justify;
	font-family: 'Tienne', serif;
	font-size: 52px;
	letter-spacing: 1px;
}


.sections {
	margin-top: 20px;
	width: 100%;
	text-align: left;
	font-size: 36px;
	font-family: 'Kanit', sans-serif;
	color: yellow;

}

.title:after {
	width: 100%;
     content: "";
     display: inline-block;
}


/* 	===========================
		IMAGES
	=========================== */

/* 	===========================
		LAYOUT
	=========================== */

.header {
	width: 100%;
	position: fixed
}



/*  =======================
    MEDIA QUERIES
    ======================= */

@media (max-width: 1100px) {
	
}

@media (max-width: 900px) {
	


}

@media (max-width: 800px) {

	
}

@media (max-width: 600px) {
	

}

@media (max-width: 550px) {
	

}


@media (max-width: 500px) {


}

@media (max-width: 400px) {

	h3 {
		margin-top: 200px;
		font-size: 20px;
		line-height: 25px;
	}


}


