/* 	================= 
		MAIN.CSS
	================= */

/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

* {
	/*color: blue;*/
}

body {
	background-color: blue;
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {

	width: 100%;
	height: 100%;
}

.mobile {
	display: none;
}

.fixed {
	top: 0;
	width: 100%;
	padding-left: 1%;
	position: fixed;
	height: 20px;
	background: blue;
    background: -webkit-linear-gradient(blue, rgba(0,0,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, rgba(0,0,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, rgba(0,0,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, rgba(0,0,255,0)); /* Standard syntax */

}


/* 	===========================
		HEADER
	=========================== */

/* Typography */

.transparent {
	color: rgba(0,0,255,0);
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

h1,
h2 {
	color: white;
}

.margin-left {
	margin-left: 7px;
}

.text-link:link,
.text-link:visited {
	color: white;
	padding: 0 4px 0 4px;
	text-decoration: none;
	border: 2px solid white;
	/*text-shadow: 3px 3px 5px yellow;*/
}

.text-link:hover {
	color: blue;
	background-color: yellow;
	border: 2px solid yellow;
}

.heading a:link,
.heading a:visited {
	margin-bottom: -2px;
}

.heading {
	
	font-family: 'Tienne', serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 40px;
}

.statement1 {
	float: left;
	width: 48%;
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 40px;
}

.statement2 {
	float: left;
	width: 48%;
	margin-left: 4%;
	font-family: 'Tienne', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 40px;
}

#clock {
	float: right;
	width: 40%;
	margin-top: 30px;

	font-family: 'Kanit', sans-serif;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 8;
	text-align: center;
}

.title:after {
	width: 100%;
     content: "";
     display: inline-block;
}

/* LAYOUT */

.left {
	float: left;
	padding-top: 20px;
	width: 59%;
	margin-left: 1%;
	text-align: left;
}


/* IMAGES */

.right img {
	float: right;
	width: 36%;
	margin-right: 2%;
	margin-top: 10px;
}

.right img.logo {
	float: right;
	width: 20%;
	margin-right: 10%;
}

.left img.arrows {
	width: 60%;
	margin-left: 20%;
}

/* 	===========================
		PROJECT ARCHIVE
	=========================== */

/* TYPOGRAPHY */

.title h1 {
	margin-left: 1%;
	font-family: 'Tienne', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 30px;

}

.project .name {
	margin-left: 3%;

	font-family: 'Kanit', sans-serif;
	font-style: italic;
	font-size: 18px;
}

.project .collaborator {
	margin-top: 15px;
	margin-left: 7%;

	font-family: 'Kanit', sans-serif;
	font-style: italic;
	font-size: 18px;
}

.project .column-1 {
	margin-top: 40px;
	margin-left: 15%;
	

	font-family: 'Tienne', sans-serif;
	font-size: 15px;
	
}

.project .column-2 {
	margin-top: 20px;
	margin-left: 19%;
	

	font-family: 'Tienne', sans-serif;
	font-size: 15px;
	
}

.project-archive .image:link,
.project-archive .image:visited {
	border: none;
}

.project-archive .image:hover {
	border: none;
}

.line-bottom{
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}

.bold {
	font-weight: bolder;
}

.line-through {
	text-decoration: line-through;
}

#text {
	font-family: 'Kanit', sans-serif;
	font-size: 28px;
	line-height: 40px;
	color: white;
}

/* LAYOUT */

.project-archive {
	position: relative;
	clear: left;
	padding-top: 250px;
	padding-bottom: 250px;
}

.project-img {
	margin-top: 1%;
}

.project-archive img {
	vertical-align: middle;
	display: inline-block;
	width: 15%;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}



/*  =======================
    MEDIA QUERIES
    ======================= */

@media (min-width: 1770px) {

	/* 	===========================
			HEADER
		=========================== */

	/* Typography */

	.margin-left {
		margin-left: 7px;
	}

	.heading {
		font-family: 'Tienne', serif;
		font-weight: 400;
		font-size: 45px;
		line-height: 60px;
		margin-bottom: 50px;
	}

	.statement1 {
		float: left;
		width: 48%;
		font-family: 'Kanit', sans-serif;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	.statement2 {
		float: left;
		width: 48%;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 40px;
	}

	#clock {
		float: right;
		width: 32%;
		margin-top: 30px;

		font-family: 'Kanit', sans-serif;
		font-style: italic;
		font-size: 18px;
		letter-spacing: 8;
		text-align: center;
	}

	.title:after {
		width: 100%;
	     content: "";
	     display: inline-block;
	}

	/* LAYOUT */

	.left {
		float: left;
		padding-top: 20px;
		width: 67%;
		margin-left: 1%;
		text-align: left;
	}


	/* IMAGES */

	.right img {
		float: right;
		width: 30%;
		margin-right: 1%;
		margin-top: 10px;
	}

	.right img.logo {
		float: right;
		width: 18%;
		margin-right: 7%;
	}

	.left img.arrows {
		width: 60%;
		margin-left: 20%;
	}

	.project-archive img {
		width: 11.5%;
	}

	#text {
		font-family: 'Kanit', sans-serif;
		font-size: 32px;
		line-height: 44px;
		color: white;
	}

	.project .column-1 {
		margin-left: 10%;
		
	}

	.project .column-2 {
		margin-left: 15%;
		
	}
}

@media (min-width: 1450px) and (max-width: 1769px) {
	/* 	===========================
			HEADER
		=========================== */

	/* Typography */

	.margin-left {
		margin-left: 7px;
	}

	.heading {
		font-family: 'Tienne', serif;
		font-weight: 400;
		font-size: 40px;
		line-height: 55px;
		margin-bottom: 40px;
	}

	.statement1 {
		float: left;
		width: 48%;
		font-family: 'Kanit', sans-serif;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	.statement2 {
		float: left;
		width: 48%;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 40px;
	}

	#clock {
		float: right;
		width: 32%;
		margin-top: 30px;

		font-family: 'Kanit', sans-serif;
		font-style: italic;
		font-size: 18px;
		letter-spacing: 8;
		text-align: center;
	}

	.title:after {
		width: 100%;
	     content: "";
	     display: inline-block;
	}

	/* LAYOUT */

	.left {
		float: left;
		padding-top: 20px;
		width: 67%;
		margin-left: 1%;
		text-align: left;
	}


	/* IMAGES */

	.right img {
		float: right;
		width: 30%;
		margin-right: 1%;
		margin-top: 10px;
	}

	.right img.logo {
		float: right;
		width: 18%;
		margin-right: 7%;
	}

	.left img.arrows {
		width: 60%;
		margin-left: 20%;
	}

	.project-archive img {
		width: 11.5%;
	}

	#text {
		font-family: 'Kanit', sans-serif;
		font-size: 32px;
		line-height: 44px;
		color: white;
	}

	.project .column-1 {
		margin-left: 10%;
		
	}

	.project .column-2 {
		margin-left: 15%;
		
	}

}

@media (max-width: 1231px) {
	.heading {
		font-size: 25px;
		line-height: 40px;
	}


}

@media (max-width: 1025px) {
	.heading {
		font-size: 20px;
		line-height: 35px;
	}

	.statement1 {
		font-size: 14px;
		line-height: 20px;
	}

	.statement2 {
		font-size: 12px;
		line-height: 20px;
	}	
}

@media (max-width: 850px) {

	.heading {
		font-size: 30px;
		line-height: 45px;
	}

	.statement1 {
		width: 48.5%;
		font-size: 14px;
		line-height: 20px;
	}

	.statement2 {
		width: 48.5%;
		margin-left: 1%;
		font-size: 12px;
		line-height: 20px;
	}

	.left {
		float: none;
		padding-top: 20px;
		width: 100%;
		text-align: left;
	}

	.right {
		margin-top: 100px;
		vertical-align: middle;
		width: 100%;	
	}

	.right img {
		display: inline-block;
		float: none;
		margin-right: 0;
		margin-left: 4%;
		width: 30%;
		margin-top: 10px;
	}

	.right img.logo {
		display: inline-block;
		float: none;
		width: 20%;
		margin-right: 7%;
	}

	#clock {
		display: inline-block;
		margin-top: 70px;
		float: none;
		width: 30%;
		font-family: 'Kanit', sans-serif;
		font-style: italic;
		font-size: 18px;
		letter-spacing: 8;
		text-align: center;
		vertical-align: top;
	}

	.project-archive {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	

}

@media (max-width: 750px) {
	.heading {
		font-size: 25px;
		line-height: 40px;
	}

}


@media (max-width: 680px) {
	.heading {
		font-size: 20px;
		line-height: 35px;
	}

	.statement1 {
		float: none;
		width: 50%;
		margin-left: 1%;
		font-size: 14px;
		line-height: 20px;
	}

	.statement2 {
		float: none;
		width: 50%;
		margin-left: 1%;
		margin-left: 1%;
		font-size: 12px;
		line-height: 20px;
	}

}

@media (max-width: 550px) {

	.heading {
		font-size: 14px;
		line-height: 25px;
	}

	.statement1 {
		float: none;
		width: 90%;
		margin-left: 1%;
		font-size: 14px;
		line-height: 20px;
	}

	.statement2 {
		float: none;
		width: 90%;
		margin-left: 1%;
		margin-left: 1%;
		font-size: 12px;
		line-height: 20px;
	}

	.right img {
		display: block;
		float: none;
		margin-right: 0;
		margin-left: 10%;
		width: 80%;
		margin-top: 10px;
	}

	.right img.logo {
		display: block;
		float: none;
		width: 60%;
		margin-left: 20%;
		margin-right: 0;
	}

	#clock {
		display: block;
		margin-top: 70px;
		float: none;
		width: 100%;
		font-family: 'Kanit', sans-serif;
		font-style: italic;
		font-size: 18px;
		letter-spacing: 8;
		text-align: center;
		vertical-align: top;
	}

}

@media (max-width: 400px) {

	.heading {
		font-size: 12px;
		line-height: 25px;
	}

}
